


body{
    font-family: 'Roboto', sans-serif;
    padding-right: 5%;
    padding-left: 5%;
    background-color: rgb(215, 237, 250);
    font-size: 100%;
    line-height: 1.5;
}

a.skip{
    position: absolute;
    left: -400px;
    top: -200px;
}

header{
    margin: 2%;
}

@keyframes float {
    /* 0% {
      text-shadow: 3px 3px 5px rgba(2, 133, 113, 0.2);
      ;
      transform: translatey(0%);
    }
    25% {
        text-shadow: 3px 3px 5px rgba(2, 133, 113, 0.6);
        transform: translatey(5px);
    }
    50% {
      text-shadow: 3px 13px 5px rgba(2, 133, 113, 0.7);
      transform: translatey(0%);
    }
    75% {
        text-shadow: 3px 13px 5px rgba(2, 133, 113, 0.7);
        transform: translatey(-5px);
      }
    100% {
      text-shadow: 3px 3px 5px rgba(2, 133, 113, 0.2);
      transform: translatey(0px);
    } */
    0% {
        text-shadow: 3px 3px 5px rgb(255, 176, 59, .2);
        ;
        transform: translatey(0%);
      }
      25% {
          text-shadow: 3px 3px 5px rgba(255, 176, 59, 0.6);
          transform: translatey(5px);
      }
      50% {
        text-shadow: 3px 13px 5px rgba(255, 176, 59, 0.7);
        transform: translatey(0%);
      }
      75% {
          text-shadow: 3px 13px 5px rgba(255, 176, 59, 0.7);
          transform: translatey(-5px);
        }
      100% {
        text-shadow: 3px 3px 5px rgba(255, 176, 59, 0.2);
        transform: translatey(0px);
      }
  }

  @media (prefers-reduced-motion){
    h1{
        text-shadow: 3px 3px 5px rgba(255, 176, 59, 0.6);
        animation: none;
    }
}


h1{
    font-family: 'Shrikhand', cursive;
    font-size: 300%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 5%;
    text-align: center;
    line-height: 1;
    text-shadow: 3px 3px 5px rgba(147,112,219,0);
    transform: translatey(0px);
    animation: float 6s linear infinite;
    animation-fill-mode: none;
}

.text_container{
    background-color: rgb(240, 248, 255, .8);
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    margin-bottom: 5%;
}

h3{
    font-size: 125%;
    font-style: italic;
}

.subtitle{
    margin-top: 3%;
    text-align: center;
}

h4{
    font-size: 100%;
    font-weight: bold;
}

.alpha{
    text-align: center;
}

dt {
    font-size: 175%;
    font-family: monospace;
    background-size: 100% 15%;
    background-repeat: repeat-x;
    background-position: left 0% bottom 5%;
    background-image: repeating-linear-gradient(135deg, rgb(14, 187, 161) 0px, rgb(0, 121, 121) 45px,rgb(33, 197, 139) 45px, rgb(0, 121, 121) 76px,rgb(0, 121, 121) 76px, rgb(255, 253, 151) 114px,rgb(151, 187, 161) 114px, rgb(255, 253, 151) 127px,rgb(14, 187, 161) 127px, rgb(151, 187, 161) 139px,rgb(255, 253, 151) 139px, rgb(0, 121, 121) 170px);
}

.dictionary dd{
    padding-top: 3%;
}


figcaption{
    text-align: center;
    font-style: italic;
    padding: 1%;
    background: black;
    color: white;
    opacity: 80%;
}


a:link{
    color:blue;
}

a:visited {
    color:rgb(70, 32, 70);
}

footer{
    border-top: 2px solid black;
    margin: 3% 0 2% 0;
    padding: 2%;
    display: block;
    line-height: 1;
}

footer > div{
    display: inline;
}
footer>p, footer>a{
    margin: 0;
    padding: 3%;
    text-align: center;
    display: block;
    font-style: italic;
}

nav{
    margin: 3%;
    text-align: center;
}

nav a{
    font-size: 100%;
    min-width: max-content;
    display: block;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: fit-content;
}
nav ul li{
    padding: 0%;
    margin-bottom: 1%;
    flex-basis: auto;
}

nav a:link {
    color: black;
    background-color: white;
    padding: 3%;
    border: 1px solid black;
    text-decoration: none;
}


nav a:active{
    color: black;
    padding: 3%;
    text-decoration: none;
    border: 1px black rgb(70, 32, 70);
}

nav a:visited {
    color: black;
}


nav a:hover{
    color: white;
    background-color: rgb(70, 32, 70);
    padding: 3%;
}

nav a.current{
    border: 1px solid black;
    background-color: rgb(32, 178, 170, .80);
    box-shadow:2px 2px 1px rgb(70, 32, 70);

}


a.skip{
    padding: 5px;
}

main div:nth-child(odd) img{
    display: block;
    margin: auto;
    padding: 20px;
    width: 20%;
    border: 5px dotted rgb(45, 10, 75);
    border-radius: 100%;
}

main div:nth-child(even) img{
    display: block;
    margin: auto;
    padding: 15px;
    width: 20%;
    border: 5px dashed rgb(70, 32, 70);
    border-radius: 100%;
}

#important{
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
}

/* main img{
    min-width: 95%;
} */

p{
    margin: 3% 0px 3% 0px
}

main.main_grid{
    display:grid;
}

main.main_grid+div{
    grid-column-start: 1;
}

div.about_grid{
    display:grid;
    column-gap: 3%;
    background-image: url("../images/daisies.jpg");
    background-image: url("../images/swirl.jpg");
    border-radius: 7%;
}

div.about_grid figure{
  display: none
}

div.about_grid #lit{
    grid-column-start: 1;
}

div.about_grid #history{
    grid-column-start: 1;
}

div.about_grid #dict{
    grid-column-start: 1;
}

div.about_grid div{
    margin: 4%;
    padding: 5%;
    text-align: center;
    border-radius: 5%;
    background-color: rgb(240, 248, 255, .8);
}

/*code for the larger viewports*/

/* tablet view */

@media screen and (min-width: 750px){

    body{
        margin: 0;
        padding: 0;
    }
    header{
        margin: 0%;
        width: 100vw;
    }

    main{
        padding-right: 5%;
        padding-left: 5%;
    }

    h1{
        font-size: 400%;
    }


    #intro_wrapper{
        display: grid;
        grid-template-columns: 1fr .75fr;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    #important{
        padding: 0;
        margin: 0;
        grid-row: span 2;
    }
    @media (prefers-reduced-motion){
        h1{
            text-shadow: 3px 3px 5px rgba(2, 133, 113, 0.6);
            animation: none;
        }
            /* #intro_wrapper{
                background-image: url("../images/lona-XmCMRPMO6lI-unsplash.jpg");
            } */
    }

    #intro_wrapper p {
        grid-column-start: 2;
        background-color: rgb(240, 248, 255, .9);
        justify-self: center;
        text-align: center;
      }

    nav{
        margin: auto;
        background-image: url("../images/psychedelic-groovy-background_23-2148859821.avif");
    }
    nav a{
        padding: 0% 3% 0% 3%;
        margin: 1% 3% 1% 3%;
    }

    nav a:link {
        color: black;
        background-color: white;
        padding: 2vw;
        border: 1px solid black;
        text-decoration: none;
    }
    nav ul {
        margin: auto;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: stretch;
        flex-wrap: wrap;
    }
    nav ul li{
        min-width: fit-content;
        min-height: max-content
    }

    div.about_grid {
        border-radius: 0%;
        margin: 1% 0 1% 0;
        padding: 0;
    }

    div.about_grid figure{
        display: inline;
        background-color: rgb(240, 248, 255, .8);
    }

    div.about_grid div{
        margin: 4%;
        padding: 5%;
        text-align: center;
        background-color: rgb(240, 248, 255, .8);
        border-radius: 0%;
    }

    div.about_grid figure img{
       border: 2px solid black;
       border-radius: 0;
       min-width: 100%;
    }
    .description{
        align-self: center;
    }

   div.about_grid #literature{
        background-color: rgb(240, 248, 255, .8);
        grid-column-start: 1;
    }
    div.about_grid #history{
        background-color: rgb(240, 248, 255, .8);
        grid-column-start: 2;
    }

    div.about_grid #dict {
        grid-column-start: span 2;
    }

    .grid_people{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2%;
        grid-row-gap: 1%;
        overflow: auto;
    }

    .grid_people > div{
    /* border: 1px dotted black; */
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    background-color: rgb(240, 248, 255, .8);
    }
}

/* desktop view */

@media  screen and (min-width: 950px){

    header{
        margin-top: 2%;
        width: 100vw;
    }
    h1{
        font-size: 450%;
        margin-top: 2%;
    }

    #important{
        display: none;
    }

    nav ul {
        align-content: space-around;
    }
    .grid_people{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 5%;
    }

    div.about_grid #literature{
        background-color: rgb(240, 248, 255, .8);
        grid-column-start: 1;
    }
    div.about_grid #history{
        background-color: rgb(240, 248, 255, .8);
        grid-column-start: 2;
    }

    div.about_grid #dict {
        grid-column-start: 3;
    }
    #intro_wrapper{
        background-image: url("../images/historical_figures.gif"); 
        background-attachment: fixed;
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
    @media (prefers-reduced-motion){
        h1{
            text-shadow: 3px 3px 5px rgba(2, 133, 113, 0.6);
            animation: none;
        }
        #intro_wrapper{
            background-image: url("../images/lona-XmCMRPMO6lI-unsplash.jpg");
            }
    }
}